<div class="jumbotron jumbotron-fluid p-4 bg-dark">
    <div class="container text-white">
        <h1 class="display-4">Data Entry</h1>
        <hr class="mx-2" color="#9c9c9c">
        <p class="lead">Cause data values alot!</p>
    </div>
</div>