<div class="container-fluid flex-column align-items-center">

    {{#if this.users}}
        {{#each @users as |rental|}}
        <User @user={{rental}} />
        {{/each}}
    {{else}}
        <div class="container d-flex justify-content-center">
            <div class="spinner-grow text-primary mx-3" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary mx-3" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info mx-3" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark mx-3" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        </div>
    {{/if}}


</div>