<div class="container-fluid flex-column align-items-center">
    {{#if this.isLoading}}
        <div class="container-fluid d-flex justify-content-center py-5 my-5">
            <div class="spinner-grow text-primary mx-3" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary mx-3" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-info mx-3" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-dark mx-3" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="container-fluid d-flex justify-content-center">
            <span>Loading...</span>
        </div>
    {{else}}
        {{#each this.users as |user|}}
        <User @user={{user}} @del={{action "deleteUser" user._id (action "fetchData")}}/>
        {{/each}}
    {{/if}}

</div>