<div class="container d-flex flex-column justify-space-evenly align-items-center" style="width: 350px;">
    <PrimaryButton @route='feeder'>Feed Data</PrimaryButton>
    <PrimaryButton @route='fetcher'>Fetch Data</PrimaryButton>
</div>